<meta charset="utf-8" />
<title>@ViewBag.title | Support Desk V1.0</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="To Manage all your Tickets" name="description" />
<meta content="Altrocks Tech" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">